@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin:0 2em;
  background-color: whitesmoke;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
}

@media screen and (max-width: 768px ) and ( min-width: 360px) {
  .container  {
    margin: 0;
    padding: 0;
  }
  body{
    margin: 0;
    padding:  0 5px;
  }
}

.header_hight{
  height: 70px;
}


